html * {
  font-family: Arial, Helvetica, sans-serif !important;
}

input[type="text"] {
  width: 194px;
  border-radius: 30px;
  height: 25px;
  outline: none;
  padding-left: 10px;
}
input[type="text"]::placeholder {
  text-align: center;
}
.uploadedImage {
  max-width: 100%;
  max-height: 120px;
}

input[value="ADD"] {
  background-color: #89a0dc;
  border: none;
  color: white;
  padding: 5px 7px;
  text-decoration: none;
  margin: 4px 2px 4px 20px;
  border-radius: 15px;
  width: 70px;
  cursor: pointer;
  font-size: 17px;
}
.uploadButton {
  background-color: #89a0dc;
  border: none;
  color: white;
  padding: 5px 7px;
  text-decoration: none;
  margin: 4px 2px 4px 20px;
  border-radius: 15px;
  width: 80px;
  cursor: pointer;
  font-size: 15px;
}
.editButtons {
  background-color: #89a0dc;
  border: none;
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  margin: 4px 2px 4px 20px;
  border-radius: 15px;
  width: 50px;
  cursor: pointer;
  font-size: 13px;
}
.deleteButtons {
  background-color: #dc89a7;
  border: none;
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 15px;
  width: 72px;
  cursor: pointer;
  font-size: 13px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #89dccd;
  color: white;
}
